{% extends 'login/base.html' %}
{% block body_block %}
{% if latest_question_list %}
<div class= "jumbotron">
<a href="{% url 'polls:finalresults'%}">
    <button type="button" class="backbutton">Back</button>
</a>
<div class="container all-criteria">
        <h1>Avaiable Categories</h1>
        {% for question in latest_question_list %}
        <li class = "list-group-item each-criteria active"><a href="{% url 'polls:detail' question.id %}" class= 'each-criteria'>{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
    <p>No Categories are available.</p>
    {% endif %}
</div>
</div>

{% endblock %}