<title>Evaluately</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load staticfiles %}
<!-- Boostrap CSS-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Page CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">




<section class="landing text-center my-5">

  <h1 class="h1-responsive font-weight-bold my-5">Humans are complicated.</h1>
  <h1 class="h1-responsive font-weight-bold my-5">Event evaluation shouldn’t be.</h1>
  <p class="lead grey-text w-responsive mx-auto mb-5">The Evaluately makes evaluation feel more like breathing a clean air. The characteristic of Evaluately are clean, beauty, absence of confusion and lack of complication of evaluation oneself and others.</p>

  <div class="row">

    <div class="col-md-4">

      <h5 class="font-weight-bold my-4">Clean</h5>
      <p class="grey-text mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
        maiores aperiam minima assumenda deleniti hic.
      </p>

    </div>
    <div class="col-md-4">

      <h5 class="font-weight-bold my-4">Effective</h5>
      <p class="grey-text mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
        maiores aperiam minima assumenda deleniti hic.
      </p>

    </div>
    <div class="col-md-4">
      <h5 class="font-weight-bold my-4">Fast</h5>
      <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
        aperiam minima assumenda deleniti hic.
      </p>

    </div>

  </div>

</section>
<!-- Boostrap JS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>