{% extends 'login/base.html' %}
{% block body_block %}
<p class="text">
    Evaluately
</p>
<div class="welcome-message">
    {% if user.is_authenticated %}
        <h2>Hello {{user.username}}</h2>
    {% else %}
        <div>
        <p>Welcome to Evaluately,</p>
        </div>
        <div>
        <p>please login or register.</p>
        </div>
        <a href="{% url 'login:user_login' %}">
            <button type="button" class="btn btn-primary btn-lg">login</button>
        </a>

        <button type="button" class="btn btn-primary btn-lg">register</button>
    {% endif %} 
</div>
{% endblock %}