{% extends 'login/base.html' %}
{% block body_block %}


<p class="text">Evaluately</p>
    <div class="welcome-message">
        {% if user.is_authenticated %}
            <h2>Hello {{user.username}}</h2>
            {% for ass in backends.associated %}
                {% if ass.provider == 'facebook' %}
                <div class="col-md-6 text-center">
                    <img src="{{ass.extra_data.picture.data.url}}" alt="" width="150" height="150" style="border-radius: 50%">
                </div>
                <div class="col-md-6 social-container my-2">
                    <p> Signed in via:  {{ ass.provider }} </p>
                    <p> Name:  {{ ass.extra_data.name }} </p>
                    <p> Provider url: <a href="{{ass.extra_data.profile_url}}">link</a></p>
                </div>
                {% endif %}
            {% endfor %}
            <div class="col-sm-12 mt-2 text-center">
                <button class="btn btn-danger">
                    <a href="{% url 'logout' %}">Logout</a>
                </button>
            </div>
        {% else %}
        <div>
            <p>Welcome to Evaluately,</p>
        </div>
        <div>
            <p>please login or register.</p>


        </div>
        <a href="{% url 'login:user_login' %}">
            <button type="button" class="btn btn-primary btn-lg">login</button>
        </a>
        <a href="/register/">
            <button type="button" class="btn btn-primary btn-lg">register</button>
        </a>

        {% endif %}
    </div>

</div>
{% endblock %}

