.welcome-message {
  margin: auto;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  color: rgb(0, 51, 102);
  margin-top: 6px;
  /* text-transform: lowercase; */
}

.logo {
  margin-top: 0px;
}

html,
body {
  height: 100%;
}

body {
  background: white;
  font: 14.5em/1 Open Sans, Impact;
  margin: 0;
}

.text {
  height: 80%;
  background: url("./../img/ootl93.gif");
  background-size: cover;
  background-position: center;
  background-clip: text;
  width: 100%;
  text-align: center;
  margin-top: 170px;
  -webkit-background-clip: text;
  font-size: 50px;
  font-weight: bolder;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 425px) {
  .text {
    height: 80%;
    background: url("./../img/ootl93.gif");
    background-size: cover;
    background-position: center;
    background-clip: text;
    width: 100%;
    text-align: center;
    margin-top: 200px;
    -webkit-background-clip: text;
    font-size: 100px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0);
  }
}

.btn.btn-primary.btn-lg {
  background-color: rgb(0, 51, 102);
  color: white !important;
  border-color: rgb(0, 51, 102);
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
  width: 10%;
}

.navbar-link {
  color: gray;
  margin-right: 20px;
  margin-left: 20px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: rgb(0, 51, 102) !important;
}

.navbar-brand {
  color: white !important;
}

.loginbox {
  width: 70% !important;
  margin: auto;
  border-color: rgba(0, 0, 0, 0) !important;
  border-bottom-color: rgb(0, 51, 102) !important;
  padding: 10px 32px !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.jumbotron {
  width: 50%;
  height: 100%;
  margin: auto;
  text-align: center;
  margin-top: 140px;
  /* background-color:rgb(86, 115, 154) !important; */
  color: rgb(0, 51, 102);
}

input[type="submit"] {
  border-radius: 20px;
  width: 30%;
  padding: 8px 32px;
  color: white;
  background-color: rgb(0, 51, 102);
  margin-top: 20px;
  margin-bottom: 10px;
}

.adminlogin {
  border-radius: 20px;
  border-color: rgb(0, 51, 102);
  width: 30%;
  padding: 8px 32px;
  background-color: transparent;
  margin-top: 20px;
  margin-bottom: 10px;
}

.adminbutton {
  color: rgb(0, 51, 102) !important;

}

.google-logo {
  width: 20px;
  margin-right: 10px;
}

.googlebutton {
  border-radius: 20px;
  /* background-image: url("./../img/googleicon.png"); */
  width: 100%;
  padding: 8px 32px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}

.navbar-nav {
  position: absolute;
  right: 0;
}

.nav-link{
  color:white !important;
  
}

#id_password1, #id_password2, #id_username{
width: 70% !important;
margin-left: auto;
border-color: rgba(0, 0, 0, 0) !important;
border-bottom-color: rgb(0, 51, 102) !important;
padding: 10px 32px !important;
background-color: rgba(0, 0, 0, 0) !important;
border-radius: 10px;
border: 1px solid #ced4da;
}

.regis {
  margin-top: 60px;
}

#adminpass{
  width: 50% !important;
  margin-left: auto;
  border-color: rgba(0, 0, 0, 0) !important;
  border-bottom-color: rgb(0, 51, 102) !important;
  padding: 10px 32px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 10px;
  border: 1px solid #ced4da;
}

.passwordrequirement{
  color: darkgray;
}

.logout{
  color: red !important;
}

.dropdown-menu{
  top: 110% !important;
}

.status{
  color: rgb(0, 51, 102)!important;
}

.results{
  text-align: center;
  margin: 0px 0px 0px !important;
  padding-left: 0px;
}

.voteagin{
  width: 20% !important;
  font-size: medium !important;
}

.votebutton{
  width: 20% !important;
}

.backbutton{
  border-radius: 20px;
  border-color: rgb(0, 51, 102);
  width: 20%;
  padding: 8px 32px;
  background-color: transparent;
  margin-left: 400px;
  margin-bottom: -30px;
}

.all-criteria{
  overflow: scroll;
}

.each-criteria{
  margin-top: 10px;
  border-radius: 10px !important;
  color: rgb(0, 51, 102) !important;
  border-color: transparent !important;
  background-color: rgb(204, 214, 224) !important;
}

.summary{
  margin-top: 5px;
  border-radius: 10px !important;
  color: rgb(0, 51, 102) !important;
  border-color: transparent !important;
  background-color: rgb(115, 143, 171) !important;
}
  
  .summary-list{
    padding-left: 0px !important;
}

.resultbutton{
    border-radius: 20px;
    border-color: rgb(0, 51, 102);
    width: 10%;
    padding: 8px 32px;
    background-color: transparent;
    margin-left: 920px;
    margin-top: 10px !important;

}

.votebutton{
    border-radius: 20px;
    width: 30%;
    padding: 8px 32px;
    color: white;
    background-color: rgb(0, 51, 102);
    margin-top: 20px;
    margin-bottom: 10px;
}
.reviewbutton{
    border-radius: 20px;
    width: 50%;
    padding: 8px 32px;
    border-color: rgb(0, 51, 102);
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: transparent !important;
    font-size: medium !important;
}