* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 500;
  font-family: "Helvetica";
}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373b44;
  height: 100vh;

  &:nth-of-type(2n) {
    background-color: #fe4b74;
  }
}
.landing {
  background: url("images/back.gif") no-repeat center center fixed;
}
